a:not([class]) {
  background:none;
  &:hover {
    background:none;
  }
}

code {
  background-color:inherit;
  border: 0;
  font-size:inherit;
}

code.language-plaintext {
  font-weight: bold;
}

div.highlighter-rouge {
  border:1px solid #f0f0f0;
}

.icon {
  color: $nav-child-link-color;
}

.language-console {
  .highlight {
    .c1  { } /* comment.single */
    .kt  { } /* keyword.type   */
    .m   { } /* literal.number */
    .n   { } /* name           */
    .nf  { } /* name.function  */
    .p   { } /* punctuation    */
    .c   { } /* comment */
    .err { } /* error */
    .g   { } /* generic */
    .k   { } /* keyword */
    .l   { } /* literal */
    .o   { } /* operator */
    .x   { } /* other */
    .cm  { } /* comment.multiline */
    .cp  { } /* comment.preproc */
    .cs  { } /* comment.special */
    .gd  { } /* generic.deleted */
    .ge  { } /* generic.emph */
    .gr  { } /* generic.error */
    .gh  { } /* generic.heading */
    .gi  { } /* generic.inserted */
    .go  { color: #ffffff; } /* generic.output */
    .gp  { } /* generic.prompt */
    .gs  { } /* generic.strong */
    .gu  { } /* generic.subheading */
    .gt  { } /* generic.traceback */
    .kc  { } /* keyword.constant */
    .kd  { } /* keyword.declaration */
    .kn  { } /* keyword.namespace */
    .kp  { } /* keyword.pseudo */
    .kr  { } /* keyword.reserved */
    .ld  { } /* literal.date */
    .s   { } /* literal.string */
    .na  { } /* name.attribute */
    .nb  { } /* name.builtin */
    .nc  { } /* name.class */
    .no  { } /* name.constant */
    .nd  { } /* name.decorator */
    .ni  { } /* name.entity */
    .ne  { } /* name.exception */
    .nl  { } /* name.label */
    .nn  { } /* name.namespace */
    .nx  { } /* name.other */
    .py  { } /* name.property */
    .nt  { } /* name.tag */
    .nv  { } /* name.variable */
    .ow  { } /* operator.word */
    .w   { } /* text.whitespace */
    .mf  { } /* literal.number.float */
    .mh  { } /* literal.number.hex */
    .mi  { } /* literal.number.integer */
    .mo  { } /* literal.number.oct */
    .sb  { } /* literal.string.backtick */
    .sc  { } /* literal.string.char */
    .sd  { } /* literal.string.doc */
    .s2  { } /* literal.string.double */
    .se  { } /* literal.string.escape */
    .sh  { } /* literal.string.heredoc */
    .si  { } /* literal.string.interpol */
    .sx  { } /* literal.string.other */
    .sr  { } /* literal.string.regex */
    .s1  { } /* literal.string.single */
    .ss  { } /* literal.string.symbol */
    .bp  { } /* name.builtin.pseudo */
    .vc  { } /* name.variable.class */
    .vg  { } /* name.variable.global */
    .vi  { } /* name.variable.instance */
    .il  { } /* literal.number.integer.long */
  }
}

.language-console.highlighter-rouge {
  background-color: #555555;
  code {
    background-color: #555555;
  }
}

.language-csharp {
  .highlight {
    .c1  { color: #008000; } /* comment.single */
    .kt  { color: #0000ff; } /* keyword.type   */
    .m   { color: #000000; } /* literal.number */
    .n   { color: #1f377f; } /* name           */
    .nf  { color: #74531f; } /* name.function  */
    .p   { color: #000000; } /* punctuation    */
    .c   { } /* comment */
    .err { } /* error */
    .g   { } /* generic */
    .k   { } /* keyword */
    .l   { } /* literal */
    .o   { } /* operator */
    .x   { } /* other */
    .cm  { } /* comment.multiline */
    .cp  { } /* comment.preproc */
    .cs  { } /* comment.special */
    .gd  { } /* generic.deleted */
    .ge  { } /* generic.emph */
    .gr  { } /* generic.error */
    .gh  { } /* generic.heading */
    .gi  { } /* generic.inserted */
    .go  { } /* generic.output */
    .gp  { } /* generic.prompt */
    .gs  { } /* generic.strong */
    .gu  { } /* generic.subheading */
    .gt  { } /* generic.traceback */
    .kc  { } /* keyword.constant */
    .kd  { } /* keyword.declaration */
    .kn  { } /* keyword.namespace */
    .kp  { } /* keyword.pseudo */
    .kr  { } /* keyword.reserved */
    .ld  { } /* literal.date */
    .s   { color: #a31515; } /* literal.string */
    .na  { } /* name.attribute */
    .nb  { } /* name.builtin */
    .nc  { } /* name.class */
    .no  { } /* name.constant */
    .nd  { } /* name.decorator */
    .ni  { } /* name.entity */
    .ne  { } /* name.exception */
    .nl  { } /* name.label */
    .nn  { } /* name.namespace */
    .nx  { } /* name.other */
    .py  { } /* name.property */
    .nt  { } /* name.tag */
    .nv  { } /* name.variable */
    .ow  { } /* operator.word */
    .w   { } /* text.whitespace */
    .mf  { } /* literal.number.float */
    .mh  { } /* literal.number.hex */
    .mi  { } /* literal.number.integer */
    .mo  { } /* literal.number.oct */
    .sb  { } /* literal.string.backtick */
    .sc  { } /* literal.string.char */
    .sd  { } /* literal.string.doc */
    .s2  { } /* literal.string.double */
    .se  { } /* literal.string.escape */
    .sh  { } /* literal.string.heredoc */
    .si  { } /* literal.string.interpol */
    .sx  { } /* literal.string.other */
    .sr  { } /* literal.string.regex */
    .s1  { } /* literal.string.single */
    .ss  { } /* literal.string.symbol */
    .bp  { } /* name.builtin.pseudo */
    .vc  { } /* name.variable.class */
    .vg  { } /* name.variable.global */
    .vi  { } /* name.variable.instance */
    .il  { } /* literal.number.integer.long */
  }
}

.main-content hr:last-of-type {
  visibility: hidden;
}

.main-header {
  @include mq(md) {
    border-bottom: 0px;
  }
}

.nav-list {
  .nav-list-item {
    .nav-list-link {
      color: $nav-child-link-color;
    }
    .nav-list-expander {
      color: $nav-child-link-color;
    }
  }
}

.site-footer {
  color: #333333;
}

.site-header {
  @include mq(md) {
    border-bottom: 0px;
  }
}

.site-title {
  color: $body-heading-color;
}
