// Colors.

$body-background-color: #FFFFFF;

$sidebar-color: #b8cede;

$feedback-color: darken($sidebar-color, 3%);

// $search-background-color: $white;
// $table-background-color: $white;

$code-background-color: #f5faff;

$body-text-color: #333333;
$body-heading-color: #333333;

// $search-result-preview-color: $grey-dk-000;

$nav-child-link-color: #333333;

$link-color: #00598f;

$btn-primary-color: $link-color;

// $base-button-color: #f7f7f7;

$border-color: #7f8e99;
