.language-csharp {
    .highlight {
        .c1 { color: #008000; }
        .k  { color: #0000ff; }
        .kt { color: #0000ff; }
        .m  { color: #000000; }
        .n  { color: #1f377f; }
        .nf { color: #2d77a6; }
        .p  { color: #000000; }
        .s  { color: #b81818; }
    }
}

.language-csharp.highlighter-rouge {
    background-color: #f8f8f8;
    border: 1px solid #f0f0f0;
}
