$footer-background-color: #f3f3f3;
$footer-text-color: #888888;

$link-color: #2f7d95;
$link-color-hover: #2f7d95;
$link-color-visited: #2f7d95;

$masthead-link-color: #6a8a94;
$masthead-link-color-hover: #6a8a94;

$muted-text-color: #454545;

$navigation-active-color: #666666;
$navigation-text-color: #888888;

$text-color: #454545;